In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/Original/International/Aid.csv')

In [3]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"Net ODA received (% of imports of goods, servi...",DT.ODA.ODAT.MP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Net ODA received (% of imports of goods, servi...",DT.ODA.ODAT.MP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.786982,6.852727,7.816810,8.609252,8.727385,7.994589,9.122437,NaN,NaN,NaN
2,Afghanistan,AFG,"Net ODA received (% of imports of goods, servi...",DT.ODA.ODAT.MP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,50.592820,58.558313,49.878480,55.083237,47.601069,46.899961,55.779341,59.830455,NaN,NaN
3,Africa Western and Central,AFW,"Net ODA received (% of imports of goods, servi...",DT.ODA.ODAT.MP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.345759,6.515980,7.575451,8.760611,9.146098,7.752734,7.328166,NaN,NaN,NaN
4,Angola,AGO,"Net ODA received (% of imports of goods, servi...",DT.ODA.ODAT.MP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.475018,0.373437,0.862936,0.660442,0.620028,0.476272,0.068965,0.539027,0.927515,NaN

In [4]:
# Updating Function
def clean_wb(original_df):
    # Columns to drop
    columns_to_drop = ['Country Code', 'Indicator Name', 'Indicator Code']

    # Drop specified columns
    processed_df = original_df.drop(columns_to_drop, axis=1)
    
    # Rename 'Country Name' column to 'country'
    processed_df.rename(columns={'Country Name': 'country'}, inplace=True)

    # Transform to long format
    clean_df = pd.melt(processed_df, id_vars='country', var_name='year', value_name='value')
    
    # Printing the head of the clean df
    print(clean_df.head())

    return clean_df

In [5]:
Aid_Clean = clean_wb(df)

                       country  year  value
0                        Aruba  1960    NaN
1  Africa Eastern and Southern  1960    NaN
2                  Afghanistan  1960    NaN
3   Africa Western and Central  1960    NaN
4                       Angola  1960    NaN

In [6]:
Aid_Clean['value'].unique()

array([        nan, 15.78110977, 13.04374222, ...,  7.18143316,
        0.83640444, 11.37646888])

In [7]:
# Columns to Keep
column_names = ['Country','Year','Aid']

In [8]:
Aid_Clean.columns = column_names
Aid_Clean.head()

                       Country  Year  Aid
0                        Aruba  1960  NaN
1  Africa Eastern and Southern  1960  NaN
2                  Afghanistan  1960  NaN
3   Africa Western and Central  1960  NaN
4                       Angola  1960  NaN

In [9]:
Aid_Clean.to_csv('Data/Clean/International/Aid.csv', index = False)

In [ ]:
# Clean Export Data

In [10]:
Exports = pd.read_csv('Data/Original/International/Exports.csv')

In [11]:
Exports_Clean = clean_wb(Exports)

                       country  year     value
0                        Aruba  1960       NaN
1  Africa Eastern and Southern  1960       NaN
2                  Afghanistan  1960  4.132233
3   Africa Western and Central  1960       NaN
4                       Angola  1960       NaN

In [13]:
# Columns to Keep
column_names = ['Country','Year','Exports']

In [14]:
Exports_Clean.columns = column_names
Exports_Clean.head()

                       Country  Year   Exports
0                        Aruba  1960       NaN
1  Africa Eastern and Southern  1960       NaN
2                  Afghanistan  1960  4.132233
3   Africa Western and Central  1960       NaN
4                       Angola  1960       NaN

In [31]:
Exports_Clean.to_csv('Data/Clean/International/Exports.csv', index = False)

In [18]:
# Clean Import Data

In [19]:
Imports = pd.read_csv('Data/Original/International/Imports.csv')

In [20]:
Imports_Clean = clean_wb(Imports)

                       country  year     value
0                        Aruba  1960       NaN
1  Africa Eastern and Southern  1960       NaN
2                  Afghanistan  1960  7.024793
3   Africa Western and Central  1960       NaN
4                       Angola  1960       NaN

In [21]:
# Columns to Keep
column_names = ['Country','Year','Imports']

In [22]:
Imports_Clean.columns = column_names
Imports_Clean.head()

                       Country  Year   Imports
0                        Aruba  1960       NaN
1  Africa Eastern and Southern  1960       NaN
2                  Afghanistan  1960  7.024793
3   Africa Western and Central  1960       NaN
4                       Angola  1960       NaN

In [23]:
Imports_Clean.to_csv('Data/Clean/International/Imports.csv', index = False)

In [24]:
# Clean FDI Inflows

In [25]:
FDI = pd.read_csv('Data/Original/International/FDI-inflow.csv')

In [26]:
FDI_Clean = clean_wb(FDI)

                       country  year  value
0                        Aruba  1960    NaN
1  Africa Eastern and Southern  1960    NaN
2                  Afghanistan  1960    NaN
3   Africa Western and Central  1960    NaN
4                       Angola  1960    NaN

In [27]:
# Columns to Keep
column_names = ['Country','Year','FDI']

In [28]:
FDI_Clean.columns = column_names
FDI_Clean.head()

                       Country  Year  FDI
0                        Aruba  1960  NaN
1  Africa Eastern and Southern  1960  NaN
2                  Afghanistan  1960  NaN
3   Africa Western and Central  1960  NaN
4                       Angola  1960  NaN

In [30]:
FDI_Clean.to_csv('Data/Clean/International/FDI.csv', index = False)