In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('Data/Original/Political/Political-Instability-CNTS.csv')

In [ ]:
df.head()

In [8]:
df.columns

Index(['id', 'idyr', 'code', 'Wbcode', 'country', 'year', 'area1', 'area2',
       'area3', 'pop1',
       ...
       'urban07', 'urban08', 'urban09', 'urban10', 'vehicle1', 'vehicle2',
       'vehicle3', 'vehicle4', 'vehicle5', 'vehicle6'],
      dtype='object', length=197)

In [9]:
columns_to_keep = ['country','year','domestic9']

In [14]:
Column_names = ['Country','Year','PI']

In [11]:
data = df[columns_to_keep]
data.head()

       country  year domestic9
0  Afghanistan  1950         0
1  Afghanistan  1951         0
2  Afghanistan  1952         0
3  Afghanistan  1953         0
4  Afghanistan  1954         0

In [13]:
data['domestic9'].unique()

array(['0', '312', '375', '1875', '3375', '6625', '4562', '3750', '3125',
       '3437', '5250', '5500', '4625', '5000', '3687', '5687', '6812',
       '7625', '4437', '4062', '3812', '3562', '57', '9125', '39188',
       '562', '2625', '500', '1500', '250', '2375', '2937', '125', '7562',
       '1062', '437', '6', '.', '1000', '750', '1750', '2312', '1687',
       '4750', '2187', '2750', '1250', '1562', '7', '1625', '2500', '3',
       '6875', '2125', '9875', '5125', '12750', '6375', '3187', '1812',
       '625', '3000', '22312', '17687', '5812', '13000', '8937', '7937',
       '812', '3500', '1125', '937', '4000', '1437', '2437', '2062', '1',
       '1187', '5375', '687', '3250', '4375', '5', '688', '438', '62',
       '6188', '2688', '12', '4812', '1937', '875', '6312', '4875',
       '4250', '3062', '3875', '4312', '4687', '6062', '18000', '9562',
       '1375', '5187', '2562', '2875', '2250', '3312', '27312', '7500',
       '5062', '1312', '2000', '3625', '5312', '4125', '8625', '3937',
       '15125', '51625', '1495', '18437', '2687', '17188', '4187', '4937',
       '8125', '6125', '6562', '11000', '5937', '14', '2188', '12875',
       '2812', '72', '9812', '8938', '4500', '7187', '6187', '7437',
       '8687', '12687', '14875', '5938', '6500', '16', '7750', '19',
       '8250', '7875', '13875', '8500', '2', '5625', '6250', '14187',
       '5875', '11312', '12125', '10812', '10875', '6687', '5438', '29',
       '16500', '68', '9188', '7375', '11750', '8437', '10625', '215',
       '2438', '7000', '9437', '13437', '8187', '7125', '11125', '13500',
       '10187', '10312', '11875', '5562', '9312', '11812', '24', '10938',
       '19500', '8562', '41', '3938', '13125', '9625', '13250', '7687',
       '20', '9000', '11062', '85625', '9500', '8750', '8000', '3188',
       '21', '26125', '15500', '28', '1438', '8', '9375', '15875',
       '13687', '10062', '7438', '11375', '11', '21250', '9750', '1563',
       '31000', '21688', '26187', '9062', '33', '15625', '66500', '7938',
       '15', '8375', '5437', '6000', '7312', '4', '27', '18', '10437',
       '5750', '1938', '4188', '7062', '6937', '17', '8438', '31', '171',
       '10500', '52438', '87', '20000', '44', '10250', '29250', '11437',
       '32', '14375', '21000', '20250', '104', '12937', '11500', '24812',
       '186'], dtype=object)

In [15]:
data.columns = Column_names
data.head()

       Country  Year PI
0  Afghanistan  1950  0
1  Afghanistan  1951  0
2  Afghanistan  1952  0
3  Afghanistan  1953  0
4  Afghanistan  1954  0

In [16]:
data.to_csv('Data/Clean/Political/PI.csv', index = False)