In [26]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('Data/Original/Political/Polity-Regime-Change.csv', encoding='latin1')

In [14]:
columns_to_keep = ['COUNTRY', 'YEAR', 'POLITYX']

In [15]:
column_names = ['Country', 'Year', 'RC']

In [16]:
df.head()

,COUNTRY,SCODE,CCODE,YEAR,MOBEGIN,YRBEGIN,MOEND,YREND,PTYPE,MAGFAIL,MAGCOL,MAGVIOL,MAGAVE,DESC,POLITYX,DESC2
0,Afghanistan,AFG,700,1978,4,1978,12,1979,3,2,1,4,2.5,In the wake of unrest stemming from the assass...,REV,1.0
1,Afghanistan,AFG,700,1979,4,1978,12,1979,3,2,1,4,2.5,NaN,NaN,NaN
2,Afghanistan,AFG,700,1992,4,1992,9,1996,3,4,1,4,3.0,Soviet-supported Najibullah regime falls after...,REV,1.0
3,Afghanistan,AFG,700,1993,4,1992,9,1996,3,4,1,4,3.0,NaN,NaN,NaN
4,Afghanistan,AFG,700,1994,4,1992,9,1996,3,4,1,4,3.0,NaN,NaN,NaN

In [17]:
df['POLITYX'].unique()

array(['REV', nan, 'SF', '-5', '-8', '-15', '-12', '-7', '-9', '-14',
       '-6', '-13', '-11', 'DIS', '-10', '-18', '-16'], dtype=object)

In [18]:
data = df[columns_to_keep]
data.head()

       COUNTRY  YEAR POLITYX
0  Afghanistan  1978     REV
1  Afghanistan  1979     NaN
2  Afghanistan  1992     REV
3  Afghanistan  1993     NaN
4  Afghanistan  1994     NaN

In [19]:
data.columns = column_names
data.head()

       Country  Year   RC
0  Afghanistan  1978  REV
1  Afghanistan  1979  NaN
2  Afghanistan  1992  REV
3  Afghanistan  1993  NaN
4  Afghanistan  1994  NaN

In [27]:
# Update Values to create binary output
# The transformation function
def transform_value(value):
    if pd.isna(value):
        return np.nan
    elif value in ['REV', 'SF', 'DIS']:
        return 1
    else:
        return 0

In [28]:
# Apply the function to the specific column
data['RC'] = data['RC'].apply(transform_value)

C:\Users\Chase\AppData\Local\Temp\ipykernel_12900\2430398250.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['RC'] = data['RC'].apply(transform_value)

In [30]:
data['RC'].unique()

array([ 1., nan,  0.])

In [31]:
data.head()

       Country  Year   RC
0  Afghanistan  1978  1.0
1  Afghanistan  1979  NaN
2  Afghanistan  1992  1.0
3  Afghanistan  1993  NaN
4  Afghanistan  1994  NaN