In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('Data/Original/Economic/GDPPC.csv')

In [9]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,GDP per capita (constant 2015 US$),NY.GDP.PCAP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,29447.579770,28780.630780,28419.264530,28737.896240,30598.648730,31172.802190,30317.606910,23015.741870,29390.380730,32492.178630
1,Africa Eastern and Southern,AFE,GDP per capita (constant 2015 US$),NY.GDP.PCAP.KD,1184.278679,1156.531305,1215.444933,1243.774342,1265.217141,1296.040570,...,1533.325592,1551.714858,1554.167299,1546.464495,1545.203136,1542.238527,1532.468910,1450.721534,1474.657674,1487.476418
2,Afghanistan,AFG,GDP per capita (constant 2015 US$),NY.GDP.PCAP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,582.103979,576.487820,566.881133,564.920844,563.488239,553.973309,559.140957,529.144913,407.616507,NaN
3,Africa Western and Central,AFW,GDP per capita (constant 2015 US$),NY.GDP.PCAP.KD,1088.785252,1086.033724,1103.334648,1158.251738,1194.531921,1216.054708,...,1824.233852,1880.612219,1882.264038,1835.149891,1827.645416,1830.664340,1840.776688,1777.026501,1801.331655,1822.878716
4,Angola,AGO,GDP per capita (constant 2015 US$),NY.GDP.PCAP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,3270.966349,3304.681152,3217.339244,3023.916323,2914.127143,2777.843045,2666.253919,2435.024857,2387.429910,2385.119959

In [10]:
# Columns to Drop
Drop = ['Country Code','Indicator Name','Indicator Code']

In [15]:
df = df.drop(Drop, axis=1)

In [16]:
df.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29447.579770,28780.630780,28419.264530,28737.896240,30598.648730,31172.802190,30317.606910,23015.741870,29390.380730,32492.178630
1,Africa Eastern and Southern,1184.278679,1156.531305,1215.444933,1243.774342,1265.217141,1296.040570,1310.188044,1341.149781,1355.868856,...,1533.325592,1551.714858,1554.167299,1546.464495,1545.203136,1542.238527,1532.468910,1450.721534,1474.657674,1487.476418
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,582.103979,576.487820,566.881133,564.920844,563.488239,553.973309,559.140957,529.144913,407.616507,NaN
3,Africa Western and Central,1088.785252,1086.033724,1103.334648,1158.251738,1194.531921,1216.054708,1167.908841,1032.873491,1024.421961,...,1824.233852,1880.612219,1882.264038,1835.149891,1827.645416,1830.664340,1840.776688,1777.026501,1801.331655,1822.878716
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3270.966349,3304.681152,3217.339244,3023.916323,2914.127143,2777.843045,2666.253919,2435.024857,2387.429910,2385.119959

In [17]:
# Transforming to long format
main_df = pd.melt(df, id_vars='Country Name', var_name='year', value_name='gdppc')

In [18]:
main_df.head()

                  Country Name  year        gdppc
0                        Aruba  1960          NaN
1  Africa Eastern and Southern  1960  1184.278679
2                  Afghanistan  1960          NaN
3   Africa Western and Central  1960  1088.785252
4                       Angola  1960          NaN

In [19]:
# Creating a function for it now

In [20]:
def clean_wb(original_df):
    # Columns to drop
    columns_to_drop = ['Country Code', 'Indicator Name', 'Indicator Code']

    # Drop specified columns
    processed_df = original_df.drop(columns_to_drop, axis=1)

    # Transform to long format
    clean_df = pd.melt(processed_df, id_vars='Country Name', var_name='year', value_name='Value')

    return clean_df

In [24]:
# Testing on GDPPC
gdppc = pd.read_csv('Data/Original/Economic/GDPPC.csv')

In [25]:
gdppc_clean = clean_wb(gdppc)

In [36]:
gdppc_clean.head()

                  Country Name  year        Value
0                        Aruba  1960          NaN
1  Africa Eastern and Southern  1960  1184.278679
2                  Afghanistan  1960          NaN
3   Africa Western and Central  1960  1088.785252
4                       Angola  1960          NaN

In [37]:
# It works!
# Applying for the rest of the WB Economic Values

In [ ]:
# gdppc_clean.to_csv('Data/Clean/Economic/GDPPC.csv', index = False)

In [41]:
# Updating Function
def clean_wb(original_df):
    # Columns to drop
    columns_to_drop = ['Country Code', 'Indicator Name', 'Indicator Code']

    # Drop specified columns
    processed_df = original_df.drop(columns_to_drop, axis=1)
    
    # Rename 'Country Name' column to 'country'
    processed_df.rename(columns={'Country Name': 'country'}, inplace=True)

    # Transform to long format
    clean_df = pd.melt(processed_df, id_vars='country', var_name='year', value_name='value')
    
    # Printing the head of the Clean df
    print(clean_df.head())

    return clean_df

In [42]:
gdppc_clean = clean_wb(gdppc)

                       country  year        value
0                        Aruba  1960          NaN
1  Africa Eastern and Southern  1960  1184.278679
2                  Afghanistan  1960          NaN
3   Africa Western and Central  1960  1088.785252
4                       Angola  1960          NaN

In [43]:
# Exporting Data
gdppc_clean.to_csv('Data/Clean/Economic/GDPPC.csv', index = False)

In [ ]:
# GDP Growth

In [44]:
GDP_G = pd.read_csv('Data/Original/Economic/GDP-Growth.csv')

In [45]:
GDP_G_clean = clean_wb(GDP_G)

                       country  year  value
0                        Aruba  1960    NaN
1  Africa Eastern and Southern  1960    NaN
2                  Afghanistan  1960    NaN
3   Africa Western and Central  1960    NaN
4                       Angola  1960    NaN

In [46]:
# Exporting Data
GDP_G_clean.to_csv('Data/Clean/Economic/GDP_Growth.csv', index = False)

In [47]:
# GINI

In [49]:
GINI = pd.read_csv('Data/Original/Economic/GINI.csv')

In [50]:
GINI_clean = clean_wb(GINI)

                       country  year  value
0                        Aruba  1960    NaN
1  Africa Eastern and Southern  1960    NaN
2                  Afghanistan  1960    NaN
3   Africa Western and Central  1960    NaN
4                       Angola  1960    NaN

In [51]:
# Exporting Data
GINI_clean.to_csv('Data/Clean/Economic/GINI.csv', index = False)

In [ ]:
# Gov Debt

In [52]:
Gov_Debt = pd.read_csv('Data/Original/Economic/Government-Debt.csv')

In [53]:
Gov_Debt_clean = clean_wb(Gov_Debt)

                       country  year  value
0                        Aruba  1960    NaN
1  Africa Eastern and Southern  1960    NaN
2                  Afghanistan  1960    NaN
3   Africa Western and Central  1960    NaN
4                       Angola  1960    NaN

In [54]:
# Exporting Data
Gov_Debt_clean.to_csv('Data/Clean/Economic/Gov-Debt.csv', index = False)

In [55]:
# Inflation

In [56]:
Inflation = pd.read_csv('Data/Original/Economic/Inflation.csv')

In [57]:
Inflation_clean = clean_wb(Inflation)

                       country  year  value
0                        Aruba  1960    NaN
1  Africa Eastern and Southern  1960    NaN
2                  Afghanistan  1960    NaN
3   Africa Western and Central  1960    NaN
4                       Angola  1960    NaN

In [58]:
# Exporting Data
Inflation_clean.to_csv('Data/Clean/Economic/Inflation.csv', index = False)

In [59]:
# Life Expectancy

In [60]:
Life_Exp = pd.read_csv('Data/Original/Economic/Life-Expectancy.csv')

In [61]:
Life_Exp_clean = clean_wb(Life_Exp)

                       country  year      value
0                        Aruba  1960  64.152000
1  Africa Eastern and Southern  1960  44.085552
2                  Afghanistan  1960  32.535000
3   Africa Western and Central  1960  37.845152
4                       Angola  1960  38.211000

In [62]:
# Exporting Data
Life_Exp_clean.to_csv('Data/Clean/Economic/Life_Exp.csv', index = False)

In [63]:
# Unemployment Rate

In [65]:
Unemployment = pd.read_csv('Data/Original/Economic/Unemployment-Rate.csv')

In [66]:
Unemployment_clean = clean_wb(Unemployment)

                       country  year  value
0                        Aruba  1960    NaN
1  Africa Eastern and Southern  1960    NaN
2                  Afghanistan  1960    NaN
3   Africa Western and Central  1960    NaN
4                       Angola  1960    NaN

In [67]:
# Exporting Data
Unemployment_clean.to_csv('Data/Clean/Economic/Unemployment.csv', index = False)